body {
    margin: 0 auto;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: none;
    margin-bottom: 0;
}

#hero {
    top: 110px;
    position: absolute;
    background-image: url(../img/taxi.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#caja-amarilla {
    background-color: #f7b617;
    color: white;
    position: absolute;
    top: 110px;
    margin-top: 50px;
    height: 340px;
    width: 500px;
    right: 0;
    text-align: left;
    padding: 30px 30px 30px;
}

#caja-amarilla h1 {
    line-height: 30px;
}

#logo-amarillo h4 img {
    padding: 0 10px 0 10px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100px;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    background-color: #f7b617;
}

.btn {
    margin-top: 20px;
    border: none;
    color: #030303;
    font-weight: bold;
}

#informacion {
    top: 810px;
    width: 100%;
    background-color: #f7b617;
    position: absolute;
}

#phone {
    position: relative;
    top: 2px;
}

#borde {
    border: 1px solid white;
    border-right: 1px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    right: 40px;
}

#inf {
    color: white;
    top: 70px;
}

#conduce {
    top: 1314px;
}

#foto-drive {
    background-image: url(../img/conduce.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}